<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
<!--
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"></link>
    <link rel="stylesheet" href="/stylesheets/style.css"></link>
    <script type="text/javascript" src='/javascripts/jquery.js'></script>
    <script type="text/javascript" src='/javascripts/bootstrap.min.js'></script>
-->
	<script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.playSound.js"></script>


	<script type="text/javascript" src="/js/globals.js"></script>
	<script type="text/javascript" src="/js/dir.js"></script>
	<script type="text/javascript" src="/js/hex.js"></script>
	<script type="text/javascript" src="/js/map.js"></script>
	<script type="text/javascript" src="/js/player.js"></script>
	<script type="text/javascript" src="/js/country.js"></script>
	<script type="text/javascript" src="/js/engine.js"></script>
	<script type="text/javascript" src="/js/renderer.js"></script>
	<script type="text/javascript" src="/js/ai_tester.js"></script> 
	

	<script type="text/javascript" src="/js/ai/donothing.js"></script>
    <script type="text/javascript" src="/js/ai/aggressive.js"></script>
</head>
