<footer>
  <div class="navbar navbar-default navbar-default">
    <div class="nav-container">
      <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
          <li><a href='/setupsolo'>Individual Game</a></li>
          <li><a href='/setup'>Ladder Game</a></li>
          <li><a href='/current'>Active Games</a></li>
          <li><a href='/submit'>AI Submission</a></li>
          <li><a href='/ais'>AI Leaderboard</a></li>
          <li><a href='/serverLog'>Server Log</a></li>
          <li><a href='/errorReports'>Error Reports</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>