<!-- game -->
<div id="game" style="display: none">
	<section class="controls">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div id="roll" class="row roll-row">
						<div id="leftroll" class="col-sm-6"></div><div id="rightroll" class="col-sm-6 player-roll"></div>
					</div>
					<div id="players" class="row players-box"></div>
					<div class="row">
						<div id="history_container" class="col-md-3">
							<div id="history_label" class="row text-center" style="margin-top:10px;">
Move History
							</div>
							<div id="history_controls" class="row text-center" style="margin-top:10px;">
								<button id="back_btn" class="btn-btn-default"><</button>
								<button id="forward_btn" class="btn-btn-default">></button>
								<button id="ff_btn" class="btn-btn-default">>></button>
								<div id="history" style="margin-top:5px;">0 / 0</div>
							</div>	
						</div>
						<div class="col-md-1">
							<div id="game_controls" style="margin-left:10px; margin-top: 25px; display:none">
								<button id="end_turn" class="btn btn-primary">End Turn</button>
							</div> 	
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> <!-- /controls -->
	<div id="canvas_div">
			<canvas id="c" width="980px" height="580px"></canvas>	
		</div>
		<div id="canvas3d_div">
		</div>
</div>
<!-- /game -->
