<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
<!--
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"></link>
    <link rel="stylesheet" href="/stylesheets/style.css"></link>
    <script type="text/javascript" src='/javascripts/jquery.js'></script>
    <script type="text/javascript" src='/javascripts/bootstrap.min.js'></script>
-->
	<script src="/jquery/jquery.min.js"></script>
    <script src="/js/jquery.playSound.js"></script>

	<script type="text/javascript" src="/js/jshashes/hashes.js"></script>
	<script type="text/javascript" src="/js/globals.js"></script>
	<script type="text/javascript" src="/js/game/dir.js"></script>
	<script type="text/javascript" src="/js/game/hex.js"></script>
	<script type="text/javascript" src="/js/game/map.js"></script>
	<script type="text/javascript" src="/js/game/player.js"></script>
	<script type="text/javascript" src="/js/game/country.js"></script>
	<script type="text/javascript" src="/js/game/gamestate.js"></script>
	<script type="text/javascript" src="/js/game/gameinfo.js"></script>
	<script type="text/javascript" src="/js/game/aiworker.js"></script>
	<script type="text/javascript" src="/js/game/engine.js"></script>
	<script type="text/javascript" src="/js/controllers/gamecontroller.js"></script>
	<script type="text/javascript" src="/js/controllers/mapcontroller.js"></script>
	<script type="text/javascript" src="/js/controllers/setupcontroller.js"></script>
	<script type="text/javascript" src="/js/controllers/testercontroller.js"></script>
	<script type="text/javascript" src="/js/ui/testerrenderer.js"></script>
	<script type="text/javascript" src="/js/ui/renderer.js"></script>
	<script type="text/javascript" src="/js/util/uploader.js"></script>

	<script type="text/javascript" src="/js/ai/util.js"></script>	
	<script type="text/javascript" src="/js/ai/greedy.js"></script>
	<script type="text/javascript" src="/js/ai/plyer.js"></script>
	<script type="text/javascript" src="/js/ai/donothing.js"></script>
    <script type="text/javascript" src="/js/ai/aggressive.js"></script>
    <script type="text/javascript" src="/js/ai/passive.js"></script>
	
</head>
