<head>

    <title>{{title}}</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/bootstrap-social/bootstrap-social.css"></link>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"></link>
    <link rel="stylesheet" href="/css/main.css"></link>

	<script type="text/javascript" src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src='/bootstrap/js/bootstrap.min.js'></script>
    <script type="text/javascript" src="/js/jquery.playSound.js"></script>
	<script type="text/javascript" src="/jshashes/hashes.js"></script>
	<script type="text/javascript" src="/socket.io-client/socket.io.js"></script>
	<script type="text/javascript" src="http://threejs.org/build/three.min.js"></script>
	<script type="text/javascript" src="/bluebird/bluebird.min.js"></script>

	<script type="text/javascript" src="/js/globals.js"></script>
	<script type="text/javascript" src="/js/game/dir.js"></script>
	<script type="text/javascript" src="/js/game/hex.js"></script>
	<script type="text/javascript" src="/js/game/map.js"></script>
	<script type="text/javascript" src="/js/game/player.js"></script>
	<script type="text/javascript" src="/js/game/country.js"></script>
	<script type="text/javascript" src="/js/game/gamestate.js"></script>
	<script type="text/javascript" src="/js/game/gameinfo.js"></script>
	<script type="text/javascript" src="/js/game/botworker.js"></script>
	<script type="text/javascript" src="/js/game/aiwrapper.js"></script>
	<script type="text/javascript" src="/js/game/engine.js"></script>
	<script type="text/javascript" src="/js/controllers/gamecontroller.js"></script>
	<script type="text/javascript" src="/js/controllers/mapcontroller.js"></script>
	<script type="text/javascript" src="/js/controllers/testercontroller.js"></script>
	<script type="text/javascript" src="/js/ui/testerrenderer.js"></script>
	<script type="text/javascript" src="/js/ui/renderer.js"></script>
	<script type="text/javascript" src="/js/ui/renderer2d.js"></script>
	<script type="text/javascript" src="/js/ui/glrenderer.js"></script>
	<script type="text/javascript" src="/js/util/uploader.js"></script>
	<script type="text/javascript" src="/js/util/downloader.js"></script>

	<script type="text/javascript" src="/js/ai/util.js"></script>
	<script type="text/javascript" src="/js/ai/human.js"></script>	
	<script type="text/javascript" src="/js/ai/greedy.js"></script>
	<script type="text/javascript" src="/js/ai/plyer.js"></script>
	<script type="text/javascript" src="/js/ai/donothing.js"></script>
    <script type="text/javascript" src="/js/ai/aggressive.js"></script>
    <script type="text/javascript" src="/js/ai/passive.js"></script>
	
</head>
