<div id="render-mode" class="hidden">
	<form>
		Rendering Mode:
		<input type="radio" id="radio_2d" name="render" value="2d"> 2D
		<input type="radio" id="radio_3d" name="render" value="3d"> 3D <br>
	</form>
</div>
