<html>
    {{#>head}}
        <script type="text/javascript"
                  src="https://www.google.com/jsapi?autoload={
                    'modules':[{
                      'name':'visualization',
                      'version':'1',
                      'packages':['corechart']
                    }]
                  }">
        </script>
        <script type="text/javascript" src="/js/app/ai_tester.js"></script>
    {{/head}}
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    {{{ body }}}
                </div>
            </div>
        </div>
    </body>
</html>
