
#game-container {
  position: relative;
  width:100%;
  height: 1000px;
}

#status-overlay {
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255,255,255,0.3);
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
}

#status-msg {
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  background-color: white;
  border: 1px solid blue;
  height: 80px;
  width: 30%;
}

#game {
  background-color: #999;
  position: relative;
  top: -64px;
  width: 100%;
  min-height: 100%;
  margin-bottom: -64px;

  canvas#c {
    margin-top: 210px;
  }


  section.controls {
    position: absolute;
    top: 0;
    //background-color: rgba(255,255,255,.2);
    margin-top: 20px;
  }

  #history_container {
    background-color: rgba(255,200,200,.4);
    border: 1px solid black;
    margin-left: 25px;
    margin-right: 25px;
  }

  .players-box {
    margin-top:10px; 
    margin-bottom:10px  
  }

  .player-box {
    font-family: sans-serif;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    height: 46px;
    border: 1px solid white;
    min-width: 200px;
  }

  .color-block {
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  .dice-box {
    display: inline-block;
    margin-left: 12px;
    margin-top: 2px;
    vertical-align: top;
    text-align: center;
  }

  .stored-box {
    display: inline-block;
    margin-left: 5px;
    margin-top: 2px;
    vertical-align: top;
    text-align: center;
  }

  .name-box {
    display: inline-block;
    margin-left: 10px;
    margin-top: 2px;
    font-size: 14px;
    vertical-align: top;
    text-align: center;
  }

  .current-player {
    border: 3px double white;
  }

  .roll-row {
    display: block; 
    min-height: 30px; 
    margin-left: 10px;
    vertical-align: top;
    margin-top: 15px;  
  }

  .die1-img {
    background-image: url('/public/images/dice1.png');
    background-size: contain;
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: top;
  }

  .die2-img {
    background-image: url('/public/images/dice2.png');
    background-size: contain;
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: top;
  }

  .die3-img {
    background-image: url('/public/images/dice3.png');
    background-size: contain;
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: top;
  }

  .die4-img {
    background-image: url('/public/images/dice4.png');
    background-size: contain;
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: top;
  }

  .die5-img {
    background-image: url('/public/images/dice5.png');
    background-size: contain;
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: top;
  }

  .die6-img {
    background-image: url('/public/images/dice6.png');
    background-size: contain;
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: top;
  }

  .roll-total {
    display: inline-block;
    vertical-align: top;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    color: black;
    margin-left: 20px;
  }

  #leftroll {
    text-align: right;
  }

  #rightroll {
    text-align: left;  
  }
}