.nav-container {
  margin: 0 50px;
}
/* Small Devices, Tablets */ 
@media only screen and (max-width: 991px) {
  .nav-container {
    margin: 0 20px; 
  }
}

.nav-container {
  .navbar-brand {
    line-height: 32px; 
  }
  .navbar-nav {
    img {
      width: 30px;
      height: 30px;
      margin: -15px 15px -15px; 
    }
    & > li {
      min-height: 64px; 
    }
    & > li > a {
      line-height: 32px; 
    }
    img.profile-image {
      border-radius: 5px; 
    }
    .navbar-toggle {
      margin-top: 14px; 
    }
  }
}
