@import "vendors/bootstrap/bootstrap";
@import "vendors/bootstrap-social";
@import "vendors/font-awesome/font-awesome";

// Custom style partials
@import "nav";
@import "game";
@import "footer";

.nopadding {
	padding: 0;
}

#intro, #setup {
  position: relative;
  top: 0;
  width: 100%;
  padding-bottom: 50px;
  .button-container {
    margin-top: 20px;
    input {
    	width: 50%;
    }
  }
  label, .hint {
  	line-height: 30px;
  }

  .ai-cta-container {
  	margin-top: 100px;
  	padding: 40px 18px;
  	text-align: center;
  	background-color: #eee;
  }
}

#ai-form {
  padding-top: 40px;
  background-color: #eee;
  textarea {
    width: 100%;
    margin-bottom:20px;
  }
}

#code-editor { 
  padding-top: 40px;
  margin-bottom: 20px;
  height: 400px;
}