@import "themes/default/variables";
@import "vendors/bootstrap/bootstrap";
@import "vendors/bootstrap-social";
@import "vendors/font-awesome/font-awesome";
@import "themes/default/styles";

// Custom style partials
@import "nav";
@import "game";
@import "footer";

#ai-form {
  padding-top: 40px;
  background-color: #eee;
  textarea {
    width: 100%;
    margin-bottom:20px;
  }
}