<div id="wait_message" style="display: none">
	Waiting for all players to join ...
	<br>
	<a href="/play?gameId={{gameId}}" target="_blank">send this link to others to have them join</a>
</div>

<div id="view_link" style="display: none">
	<a href="/replay?gameId={{gameId}}" target="_blank">click here to watch this game</a>
</div>

<div id="game-container">
	<div id="status-overlay" style="display: none">
		<div id="status-container">
			<div id="status-msg">
			</div>
		</div>
	</div>

{{>game}}

</div>

<script>
	$(function() {
		Client.init("{{gameId}}", {{replay}});
	});
</script>

