<div id="setup">
	{{>setupcontroller}}
</div>

<div id="game" style="display: none">
	{{>canvas}}
	{{>roll}}
	{{>players}}
	{{>gamecontroller}}
</div> <!-- game --!>


<script>
	$(function() {
		Client.init("{{gameId}}");
	});
</script>

