<div id="currentGames">
	<table style="width:50%; margin: auto;">
		{{#each games}}
			<tr>
				<td>{{{watch}}}</td>
				<td>{{{join}}}</td>
				{{#each players}}
					<td>{{this}}</td>
				{{/each}}
			</tr>
		{{/each}}
	</table>
</div>