<!-- intro -->
<section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <a href='/setupsolo'>
            <button class="btn btn-primary btn-large">Click here to play an individual game</button>
          </a>
        </div>
      </div>
    </div>
</section>
