<div id="setup">
	{{>setupcontroller}}
</div>
<div id="view_link" style="display: none">
	<a href="/replay?&gameId={{gameId}}" target="_blank">click here to view this game</a>
</div>

{{>game}}

<script>
	$(function() {
		Game.init("{{gameId}}");
	});
</script>

