<div id="setup">
	{{>setupcontroller}}
</div>
<div id="view_link" style="display: none">
	<a href="/replay?&gameId={{gameId}}" target="_blank">click here to view this game</a>
</div>
<div id="game" style="display: none">
	{{>canvas}}
	{{>roll}}
	{{>players}}	
	{{>gamecontroller}}	
</div> <!-- game --!>


<script>
	$(function() {
		Game.init("{{gameId}}");
	});
</script>

