<div id="setup">
	<div id="player_select" style="margin-left:10px; margin-top:10px; margin-bottom: 20px;">
		<form action="{{url}}" method="post">
			{{{list}}}
			<input type="submit" value="Start">
		</form>
	</div>
</div>
