<div>
	<form action="submission" method="post">
		Name:<br>
		<input type="text" name="name">
		<br>
		Code:<br>
		<textarea rows="50" cols="100" name="code">
		
function create() {
	return {
		init: function() {
			console.log('hello from init');
			},
		startTurn: function() {
			console.log( 'hello from startTurn');
			}
		};
};
		</textarea>
		<br>
		<input type="submit" value="Submit">
	</form>
	
</div>