<div>
	<form action="submission" method="post">
		Name:<br>
		<input type="text" name="name">
		<br>
		Code:<br>
		<textarea rows="50" cols="100" name="code">
		
var MyAI = function() {

};

MyAI.prototype.startTurn = function() {

};

		
function create() {
	return new MyAI();
};
		</textarea>
		<br>
		<input type="submit" value="Submit">
	</form>
	
</div>