<div style="margin-top: 20px">
	<div style="margin-left:10px; margin-top:10px">
		<button id="start_btn" style="width:100px;height:30px;">Start</button>
		<button id="stop_btn" style="width:100px;height:30px;">Stop</button>
	</div>
</div>
<div id="results_div" style="margin-top: 20px">
	<div style="display: inline">Run Counter:  </div><div id="counter" style="display:inline; margin-top:30px; margin-bottom:30px"> 0/0 </div>
</div>

<script>
	$(function() {
		Thunderdome.init();
	});
</script>

