<html>
<head>
  <meta charset="utf-8">
  <title>Mocha Tests</title>
  <link href="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.css" rel="stylesheet" />
</head>
<body>
  <div id="mocha"></div>

  <script src="https://cdn.rawgit.com/jquery/jquery/2.1.4/dist/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/Automattic/expect.js/0.3.1/index.js"></script>
  <script src="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.js"></script>
  <script src="http://chaijs.com/chai.js" type="text/javascript"></script>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.playSound.js"></script>


	<script type="text/javascript" src="/js/globals.js"></script>
	<script type="text/javascript" src="/js/dir.js"></script>
	<script type="text/javascript" src="/js/hex.js"></script>
	<script type="text/javascript" src="/js/map.js"></script>
	<script type="text/javascript" src="/js/player.js"></script>
	<script type="text/javascript" src="/js/country.js"></script>
	<script type="text/javascript" src="/js/gamestate.js"></script>
	<script type="text/javascript" src="/js/engine.js"></script>
	<script type="text/javascript" src="/js/renderer.js"></script>
	<script type="text/javascript" src="/js/game_loader.js"></script>
	<script type="text/javascript" src="/js/jshashes/hashes.js"></script>
	

  <script type="text/javascript" src="/js/ai/donothing.js"></script>
  <script type="text/javascript" src="/js/ai/aggressive.js"></script>
  <script type="text/javascript" src="/js/ai/passive.js"></script>
  <script type="text/javascript" src="/js/ai/plyer.js"></script>

  <script>mocha.setup({ui: 'bdd', globals: ['Game', 'Renderer']})</script>
  <script type="text/javascript" src="/data/testmaps/testmap"></script>
  <script type="text/javascript" src="/test/enginetests.js"></script>
  <script>
    mocha.checkLeaks();
    mocha.globals(['jQuery']);
    mocha.run();
  </script>
</body>
</html>