<div id="received">
Your AI has been successfully submitted! 

It will be automatically scheduled for rating games against other AIs. 
You can track its progress <a href="/ai/{{hash}}">here</a>
</div>