
<section id="ai-form">
	<div class="container">

		<form action="submission" method="post">
			<div class="row">
				<strong>Name:</strong>
				<input type="text" name="name" class="form-control" value="MyAI's display name">
			</div>
			<div class="row">
				<strong>Code:</strong>
			</div>
	
			<br>

			<div class="row">
				<div id="code-editor" class="form-control" name="code"> {{>ai_sample_code}} </div>
			</div>
	
			<input type="submit" formaction="testsubmission" class="btn btn-large btn-primary" value="Submit for Test">
		</form>

	</div>
</section>

		


<script>
    var editor = ace.edit("code-editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
</script>