
<div id="game" style="display: block">
	<div id="canvas_div">
		<canvas id="c" width="980px" height="580px" class="grabbable"></canvas>	
	</div>
	<div id="canvas3d_div">
	</div>
</div>
<!-- game -->
